<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body{
	background: #E4E5E7 !important;
}

header {
	background: #FFF;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 1px solid #000;
}


navIcones{
	position: absolute;
	left: 950px;
	top: 70px;
}
.submenu{
	background: #FFF;
	position: relative;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	width: 50%;

}
.submenu ul{
	list-style: none;
	
}
.submenu li{
	display: inline-block;
	padding: 10px
}

.submenu a {
	color: #b9bed1;
	text-decoration: none;
	font-weight: bold;
}
.submenu a:hover {
	text-decoration: none;
	color: #343e5c;
}

.search{
	position: relative;
	text-align: left;
	left: 24%;
}

.search ul{
	list-style: none;
	
}
.search li{
	display: inline-block;
	padding: 10px
}

.search {
	color: #b9bed1 ;
	text-decoration: none;
	font-weight: bold;
}

.search a {
	color: #b9bed1;
	text-decoration: none;
	font-weight: bold;
}

.search a:hover {
	text-decoration: none;
	color: #343e5c;
}

.nav-link a {
	color: #b9bed1 !important;
	text-decoration: none !important;
	font-weight: bold !important;
}

.nav-link a:hover {
	text-decoration: none !important;
	color: #343e5c !important;
}

/*Produtos*/
.produto{
	border-radius: 10px;
	background: #FFF;
}


.titleProd{
	text-align: center;
	font-weight: bold;
}

.subTitleProd{
	text-align: center;
}

.valorProd{
	text-align: center;
	font-weight: bold;
}

.rodape{
	background: #222328;
}
.rodape p{
	color: #FFF;
	padding: 20px;
}
.rodapeText1{
	font-family: 'Crimson Text', serif;
	font-style: italic; 
	font-size: 11px;
	color: #FFF;
}
.rodapeText2{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #FFF;
}

.navbar-text{
	padding: 0 10px 0 10px;
}

.sign{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #000;
	padding: 5px;
	background: #fff;
	font-size: 10px;
}

.sign:hover{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #000;
	padding: 5px;
	background: #e3e8f0;
	font-size: 10px;
}

.qtsCarrinho{
	border-radius: 50px;
	border: 1px solid #000;
	font-size: 10pt;
	padding: 5px;
	background: #e3e8f0;
	border-right: 10;
}

.menuRodape p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	font-size: 14px;

}
input{
	border: 0px;
}

input:focus{
	border: 0px;
}

.album img{
	width: 250px;
	height: 250px;

}
.nav-item li{
	text-align: center !important;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
background: #1c1e23;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #1c1e23;
}
.galleryFundo{
	background: #1c1e23;
}
.gallery h1{
	position: relative;
	margin-left: 20px;
	color: #FFF;
	font-size: 42pt;
	text-align: left;
	font-family: 'Montserrat';
	font-weight: bold;
}

.gallery p{
	color: #FFF;
	margin-left: 20px;
	text-align: left;
}
.slideTxt{
	position: relative;
	width: 50%;
	margin-top: 70px;
}
.gallery .img{
	position: relative;
	margin-left: 0%;
	
}

.buttonSlide{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #FFF;
	text-align: left;
}
.buttonSlide:hover{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #565656;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

@media (max-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
background: #1c1e23;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #1c1e23;
}
.galleryFundo{
	background: #1c1e23;
}
.gallery h1{
	position: relative;
	margin-left: 20px;
	color: #FFF;
	font-size: 10pt;
	text-align: left;
	font-family: 'Montserrat';
	font-weight: bold;
}

.gallery p{
	color: #FFF;
	margin-left: 20px;
	text-align: left;
}
.slideTxt{
	position: relative;
	width: 50%;
	margin-top: 20px;
}
.gallery .img{
	position: relative;
	margin-left: 0%;
	
}

.buttonSlide{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #FFF;
	text-align: left;
}
.buttonSlide:hover{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #565656;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

}

.col-md-4{
	opacity:0.5;
}
.col-md-4:hover{
	opacity:1;
}
.col-md-8{
	opacity:0.5;
}
.col-md-8:hover{
	opacity:1;
}
=======
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.body{
	background: #E4E5E7 !important;
}

header {
	background: #FFF;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 1px solid #000;
}


navIcones{
	position: absolute;
	left: 950px;
	top: 70px;
}
.submenu{
	background: #FFF;
	position: relative;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	width: 50%;

}
.submenu ul{
	list-style: none;
	
}
.submenu li{
	display: inline-block;
	padding: 10px
}

.submenu a {
	color: #b9bed1;
	text-decoration: none;
	font-weight: bold;
}
.submenu a:hover {
	text-decoration: none;
	color: #343e5c;
}

.search{
	position: relative;
	text-align: left;
	left: 24%;
}

.search ul{
	list-style: none;
	
}
.search li{
	display: inline-block;
	padding: 10px
}

.search {
	color: #b9bed1 ;
	text-decoration: none;
	font-weight: bold;
}

.search a {
	color: #b9bed1;
	text-decoration: none;
	font-weight: bold;
}

.search a:hover {
	text-decoration: none;
	color: #343e5c;
}

.nav-link a {
	color: #b9bed1 !important;
	text-decoration: none !important;
	font-weight: bold !important;
}

.nav-link a:hover {
	text-decoration: none !important;
	color: #343e5c !important;
}

/*Produtos*/
.produto{
	border-radius: 10px;
	background: #FFF;
}


.titleProd{
	text-align: center;
	font-weight: bold;
}

.subTitleProd{
	text-align: center;
}

.valorProd{
	text-align: center;
	font-weight: bold;
}

.rodape{
	background: #222328;
}
.rodape p{
	color: #FFF;
	padding: 20px;
}
.rodapeText1{
	font-family: 'Crimson Text', serif;
	font-style: italic; 
	font-size: 11px;
	color: #FFF;
}
.rodapeText2{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #FFF;
}

.navbar-text{
	padding: 0 10px 0 10px;
}

.sign{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #000;
	padding: 5px;
	background: #fff;
	font-size: 10px;
}

.sign:hover{
	border-radius: 20px 20px 20px 20px;
	border: 1px solid #000;
	padding: 5px;
	background: #e3e8f0;
	font-size: 10px;
}

.qtsCarrinho{
	border-radius: 50px;
	border: 1px solid #000;
	font-size: 10pt;
	padding: 5px;
	background: #e3e8f0;
	border-right: 10;
}

.menuRodape p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	font-size: 14px;

}
input{
	border: 0px;
}

input:focus{
	border: 0px;
}

.album img{
	width: 250px;
	height: 250px;

}
.nav-item li{
	text-align: center !important;
}

.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
background: #1c1e23;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #1c1e23;
}
.galleryFundo{
	background: #1c1e23;
}
.gallery h1{
	position: relative;
	margin-left: 20px;
	color: #FFF;
	font-size: 42pt;
	text-align: left;
	font-family: 'Montserrat';
	font-weight: bold;
}

.gallery p{
	color: #FFF;
	margin-left: 20px;
	text-align: left;
}
.slideTxt{
	position: relative;
	width: 50%;
	margin-top: 70px;
}
.gallery .img{
	position: relative;
	margin-left: 0%;
	
}

.buttonSlide{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #FFF;
	text-align: left;
}
.buttonSlide:hover{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #565656;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

@media (max-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
background: #1c1e23;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #1c1e23;
}
.galleryFundo{
	background: #1c1e23;
}
.gallery h1{
	position: relative;
	margin-left: 20px;
	color: #FFF;
	font-size: 10pt;
	text-align: left;
	font-family: 'Montserrat';
	font-weight: bold;
}

.gallery p{
	color: #FFF;
	margin-left: 20px;
	text-align: left;
}
.slideTxt{
	position: relative;
	width: 50%;
	margin-top: 20px;
}
.gallery .img{
	position: relative;
	margin-left: 0%;
	
}

.buttonSlide{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #FFF;
	text-align: left;
}
.buttonSlide:hover{
	border-radius: 20px;
	border: 0px;
	padding: 5px 30px 5px 30px;
	background: #2754eb;
	color: #565656;
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

}
>>>>>>> origin/master
